.yellow {
    background-color:lightsalmon;
    height: 500px;
}
.blue {
    background-color:blue;
    height: 500px;
}
.red {
    background-color:red;
    height: 500px;
}
.green {
    background-color:green;
    height: 500px;
}
.orange {
    background-color:yellow;
    height: 500px;
}
.orange1 {
    background-color:orange;
    height: 500px;
}
